html, body {
    margin: 0;
    height: 100%;
    width: 100%;
    background: transparent;
    overflow: hidden;
}

.cat {
    position: absolute;
    bottom: 0;
    image-rendering: pixelated;
    /* border: 2px solid red; */
}